<carousel>
    <slide>
        <img src="assets/images/ombar.png" alt="yeo" style="display: block; width: 100%">
    </slide>
    <slide>
        <img src="assets/images/naturallyyours.png" alt="yeo" style="display: block; width: 100%">
    </slide>
    <slide>
        <img src="assets/images/yeo.png" alt="yeo" style="display: block; width: 100%">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1> Welcome to Organic Store! </h1>
    </div>
</section>