<div class="bg-light px-4 py-3 text-uppercase text-dark font-weight-bold">
    Order Summary
</div>
<div class="p-4">
    <p class="font-italic mb-4"> Shipping costs will be added depending on the choice you make during checkout</p>
    <ul class="list-unstyled mb-4" *ngIf="(cartTotal$ | async) as totals">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted"> Order subtotal cost: </strong>
            <strong> {{totals.subtotal | currency}} </strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted"> Shipping cost: </strong>
            <strong> {{totals.shipping | currency}} </strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">  Total cost: </strong>
            <strong> {{totals.total | currency}} </strong>
        </li>
    </ul>
</div>